{% extends "base.html" %}

{% block title %}Games{% endblock %}

{% block content %}
<h1>Games</h1>
<table class="table table-striped">
  <thead>
    <th>Played</th>
    <th>White Team</th>
    <th>White Score</th>
    <th>Yellow Score</th>
    <th>Yellow Team</th>
  </thead>
  <tbody>
    {% for game in game_list %}
    <tr>
      <td>{{ game.finished }}</td>
      <td>{{ game.white_team_text }}</td>
      <td>{{ game.white_team_goals.count }}</td>
      <td>{{ game.yellow_team_goals.count }}</td>
      <td>{{ game.yellow_team_text }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}